@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    
  }
  body {
 
  }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
  justify-items: center;
  justify-content: center;
  
}
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 60px;
  width: 80%;
  margin-left: auto; /* Set left margin to auto */
  margin-right: auto; /* Set right margin to auto */
  border-radius: 0.6rem; 

}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  height: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #000000;
  color: #ffffff;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
 
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}
.hoverbutton-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #718096;
  width: 60%;
  height: 5vh;
  transition: transform 0.2s; /* Smooth transition for the scaling effect */
  cursor: pointer; /* Change cursor to indicate clickable element */
}

.hoverbutton-div:hover {
  transform: scale(1.1); /* Scale up on hover */
}
.genericbuttonspan {
  display: block;
  text-align: center; /* Horizontally center */
  line-height: 1; /* Vertically center */
  color: #f5f5f5; /* Blue color */
}
.containerworkoutsinfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); /* Automatically create columns */
  gap: 10px; /* Adjust the gap between items */
  justify-items: center;
  background-color: #414141;
  border-radius: 0.8rem;
}

.containerworkoutsinfo > div {
  grid-column: span 1; /* Each item spans one column by default */
}

@media (min-width: 770px) {
  .containerworkoutsinfo {
    grid-template-columns: repeat(3, 1fr); /* Three columns per row on larger screens */
  }
}

@media (max-width: 769px) {
  .containerworkoutsinfo {
    grid-template-columns: auto; /* Set to auto to create a single column layout */
  }
}
.workoutcard {
 background-color: #252525;
 align-items: center;
 height: 22vh;
 border-radius: 0.5rem; 
}
.workoutcardheadertext{
  font-size: 1.25rem; /* Equivalent to text-4xl */
  font-weight: 600; /* Example font weight */
  text-align: center;
  width: w-full;
  color: white; /* Example text color */
}
.wholeworkoutcard {
  width: 90%; /* Full width on all screens */
  background-color: #AF0404;
  border-radius: 0.375rem; /* Equivalent to rounded-lg in Tailwind */
  margin: 1rem;
  padding: 1%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 5);
}

@media (min-width: 1024px) { /* Adjust the breakpoint as needed */
  .wholeworkoutcard {
    width: 70%; /* Full width on large screens */
    height: 60vh; /* One-fifth of the viewport height on large screens */
    justify-content: space-between; /* Justify content with space between */
  }
}
.allworkoutscontainer {
  
  margin: 1rem; /* Equivalent to m-4 in Tailwind */
   /* Equivalent to border border-black in Tailwind */
  border-radius: 0.375rem; /* Equivalent to rounded-lg in Tailwind */
  align-items: center; /* Equivalent to items-center in Tailwind */

}

@media (min-width: 1024px) {
 .allworkoutscontainer {

  border-radius: 0.375rem; /* Equivalent to rounded-lg in Tailwind */
  align-items: center; /* Equivalent to items-center in Tailwind */
  justify-content: center;
}
  
}
.internalnonheaderworkouttext {
  
 color: #f1f1f1;
 font-weight: bold;
}
.whitebgdiv {
  background-color: white;
  padding: 1%;
}
.graydiv {
  background-color: #414141;
 
}
.mainlayout {
  background: linear-gradient(135deg, hsla(0, 0%, 25%, 1) 10%, hsla(0, 100%, 50%, 1) 33%, hsla(0, 96%, 35%, 1) 60%, hsla(0, 0%, 25%, 1) 89%), #000;
}

.mainlayout header {
  margin: 0 auto; /* Center the div horizontally */
}
.userprofilemaindiv{
  background-color: #f1f1f1;
  width: 80%;
  height: 100%;
  padding: 1%;
  margin: 1%;
}
.profilecarouseldiv2 {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  border: 1px solid #000; /* Border style with 1px width and black color */
  border-radius: 1px;
  width: 30%;
height: 40vh;
}
